@function theme-color($key: 'primary') {
  @return map-get($theme-colors, $key);
}

$theme-colors: (
  'font-primary': #334ac3,
  'font-secondary': #8d8d8d,
  'background-body': #d9dbe4,
  'background-card': #ffffff,
  'boder-primary': #8d8d8d
);

$body-bg: theme-color('background-body');
$body-color: theme-color('font-primary');

@import '~bootstrap/scss/bootstrap.scss';
