.pie-chart-container {
  display: flex;
  justify-content: center;
}

.pie-chart-container img {
  height: 100%;
  width: auto;
}

.apexcharts-legend-series {
  width: 100px;
}

.apexcharts-legend-series {
  padding-left: 10px;
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}
