@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}

body {
  margin: 0;
}

.base-card {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .base-card {
    margin-top: 40px;
  }
}
